@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-behaviour-smooth;
  }

  body {
    @apply text-lg bg-light-gray-100 dark:bg-dark-gray-900 text-light-gray-500 dark:text-dark-gray-200;
  }
}

@layer utilities {
  .scroll-behaviour-smooth {
    scroll-behavior: smooth;
  }

  .grid-area-container {
    grid-template-areas: 'single';
  }

  .grid-area {
    grid-area: single;
  }
}
